[Unit]
Description=TLDR daemon (receives and stores profiling traces)

[Service]
ExecSearchPath=%h/.cargo/bin
ExecStart=tldr serve
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

