[Unit]
Description=TLDRS daemon (receives and stores profiling traces)

[Service]
ExecSearchPath=%h/.cargo/bin
ExecStart=tldrs serve
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

